@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* Start your base/mobile styles here */

* {
  box-sizing: border-box;
}

html {
  display: table;
  margin: auto;
}

body {
  line-height: 1;
  padding: 0.4em;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 90px text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: auto;
  max-width: 650px;
}

h3 {
  text-align: left;
  max-width: 650px;
  font-size: 15px;
}

p {
  font-family: 'Raleway', sans-serif;
  max-width: 650px;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.cap {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #999999;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

@media(min-width: 681px) {}

@media(min-width: 729px) {
  #maincontent {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .byline {
    text-align: center;
    margin: 0 auto;
  }